<app-carousel [films]="seriesFilms"></app-carousel>
<div class="containerSections">
    <section *ngIf="seriesFilms" class="filmsContainer">        
            <p-card  *ngFor="let film of seriesFilms ">
                <a [routerLink]="['/detail/tv/', film.id]">
                    <div class="tittle">{{film.title | slice:0:21}}</div>
                    <div class="tittle">{{film.original_name | slice:0:21}}</div>
                    <br>
                    <p-progressSpinner *ngIf="film.poster_path == null"></p-progressSpinner>
                    <div *ngIf="film.poster_path != null" class="containerImg">
                        <img src="https://image.tmdb.org/t/p/w500{{film.poster_path}}" alt="">
                    </div>
                    <div *ngIf="film.poster_path == null" class="containerImg">
                        <img src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1623003402/noImage_x9corp.jpg" alt="">
                    </div>
                    <div>{{film.release_date | slice:0:4 }}</div>
                    <div>{{film.first_air_date | slice:0:4 }}</div>
                </a>
            </p-card>
    </section>   
</div>
